/* Night Owl Color Palette */
:root {
  --night-owl-fg: #d6deeb;
  --night-owl-bg: #021727;
  --night-owl-folded-bg: #092135;
  --night-owl-cursor-fg: #805a3e;
  --night-owl-cursor-bg: #80a4c2;
  --night-owl-line-number-fg: #4b6479;
  --night-owl-line-number-active-fg: #c5e4fc;
  --night-owl-sign-add: #9ccc65;
  --night-owl-sign-change: #e2b93d;
  --night-owl-sign-delete: #ef5350;
  --night-owl-indent-guide: #1f395d;
  --night-owl-indent-guide-active: #7e97ac;
  --night-owl-visual: #1d3b53;
  --night-owl-match-paren: #1e364a;
  --night-owl-search-blue: #063e5d;
  --night-owl-incremental-search-blue: #2E485C;
  --night-owl-error-red: #ef5350;
  --night-owl-word-highlight: #33384d;
  --night-owl-word-highlight-write: #2f3350;
  --night-owl-changed: #a2bffc;
  --night-owl-quickfix-line: #0e293f;
  --night-owl-ui-border: #5f7e97;
  --night-owl-ui-border2: #20395d;
  --night-owl-nvim-tree-file: #89a4bb;
  --night-owl-nvim-tree-indent-marker: #585858;
  --night-owl-tab-active-bg: #0b2942;
  --night-owl-tab-inactive-bg: #01111d;
  --night-owl-title: #82b1ff;
  --night-owl-parameter: #d7dbe0;
  --night-owl-string-delimiter: #d9f5dd;
  --night-owl-dark: #010d18;
  --night-owl-dark2: #021320;
  --night-owl-dark3: #99b76d23;
  --night-owl-white: #ffffff;
  --night-owl-white2: #eeefff;
  --night-owl-dark-white: #cccccc;
  --night-owl-gray: #262a39;
  --night-owl-gray2: #d2dee7;
  --night-owl-gray3: #36414a;
  --night-owl-gray4: #d6deeb80;
  --night-owl-gray5: #969696;
  --night-owl-gray6: #7e97ac;
  --night-owl-light-blue: #78ccf0;
  --night-owl-blue: #82aaff;
  --night-owl-blue2: #0b253a;
  --night-owl-blue3: #122d42;
  --night-owl-blue4: #1b90dd4d;
  --night-owl-blue5: #234d70;
  --night-owl-blue6: #234d708c;
  --night-owl-blue7: #395a75;
  --night-owl-blue8: #5ca7e4;
  --night-owl-blue9: #5f7e9779;
  --night-owl-blue10: #697098;
  --night-owl-blue11: #8eace3;
  --night-owl-blue12: #b2ccd6;
  --night-owl-blue13: #072232;
  --night-owl-blue14: #273845;
  --night-owl-blue15: #169fff;
  --night-owl-green: #c5e478;
  --night-owl-green2: #6CC85E;
  --night-owl-light-cyan: #caece6;
  --night-owl-cyan: #6ae9f0;
  --night-owl-cyan2: #7fdbca;
  --night-owl-cyan3: #7fdbcaff;
  --night-owl-cyan4: #80cbc4;
  --night-owl-cyan5: #baebe2;
  --night-owl-dark-cyan: #637777;
  --night-owl-light-red: #ff869a;
  --night-owl-red: #ff5874;
  --night-owl-red2: #ff6363;
  --night-owl-red3: #ef535090;
  --night-owl-dark-red: #ab0300;
  --night-owl-light-orange: #ecc48d;
  --night-owl-orange: #f78c6c;
  --night-owl-orange2: #ffcb8b;
  --night-owl-light-yellow: #faf39f;
  --night-owl-yellow: #ffd602;
  --night-owl-yellow2: #b39554;
  --night-owl-yellow3: #fad430;
  --night-owl-yellow4: #ffeb95;
  --night-owl-yellow5: #ffeb95cc;
  --night-owl-light-purple: #a599e9;
  --night-owl-purple: #7e57c2;
  --night-owl-purple2: #5166F0;
  --night-owl-purple3: #da70d6;
  --night-owl-purple4: #7986e7;
  --night-owl-dark-purple: #2E2D5E;
  --night-owl-magenta: #c792ea;
  --night-owl-magenta2: #c789d6;
  --night-owl-magenta3: #d1aaff;
  --night-owl-magenta4: #ff2c83;
  --night-owl-magenta5: #e2a2f433;
  --night-owl-magenta6: #f6bbe533;
}
